<div *ngIf="transactions$ | async as transactions" class="relative overflow-x-auto  sm:rounded-lg p-6">
  <h2 class="text-2xl font-bold mb-4">Transaction List</h2>

  <button (click)="showModal = true" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded mb-4">
    Add Transaction
  </button>

  <table class="min-w-full text-sm text-left bg-white shadow-md rounded">
    <thead class="text-xs text-gray-700 uppercase bg-gray-200">
    <tr>
      <th class="py-2 px-4">ID</th>
      <th class="py-2 px-4">Amount</th>
      <th class="py-2 px-4">Type</th>
      <th class="py-2 px-4">Source Account Number</th>
      <th class="py-2 px-4">Source Account Balance</th>
      <th class="py-2 px-4">Source User First Name</th>
      <th class="py-2 px-4">Destination Account Number</th>
      <th class="py-2 px-4">Destination User First Name</th>
      <th class="py-2 px-4">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions" class="border-b even:bg-gray-50 odd:bg-white">
      <td class="py-2 px-4">{{ transaction.id }}</td>
      <td class="py-2 px-4">{{ transaction.amount }}</td>
      <td class="py-2 px-4">{{ transaction.type }}</td>
      <td class="py-2 px-4">{{ transaction.sourceAccount.accountNumber }}</td>
      <td class="py-2 px-4">{{ transaction.sourceAccount.balance }}</td>
      <td class="py-2 px-4">{{ transaction.sourceAccount.user.firstName }}</td>
      <td class="py-2 px-4">{{ transaction.destinationAccount.accountNumber }}</td>
      <td class="py-2 px-4">{{ transaction.destinationAccount.user.firstName }}</td>
      <td class="py-2 px-4 text-center">
        <button class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded mr-2">Edit</button>
        <button class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-add-transaction
  *ngIf="showModal"
  (openPopup)="closePopup()"
  (close)="openPopup()"
></app-add-transaction>
